<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 padding-bottom text-justify">
  <div class="padding-bottom">
    <h1 class="size-h1 text-center padding-bottom">Sobre nós</h1>
    <div class="text-aboutus">
      <p>Estamos aqui para ajudar. O intuito deste website é mapear as áreas onde pessoas, dos mais diversos grupos sociais, se sentiram seguras ou inseguras. Somos um espaço de compartilhamento de informações, relatos de experiências boas e ruins, além de um ranking dos lugares de acordo com a visão que as pessoas possuem dele.</p>
      <p>Nosso website não tem como intuito substituir o papel da polícia ou dos demais órgãos responsáveis por acolher denúncias de crimes. Sugerimos fortemente que todas as vítimas de crimes façam uma denúncia oficial nos órgãos responsáveis.</p>
      <p>Não Me Calo é um projeto criado por um grupo de cinco jovens mulheres durante o Ignite International Girls Hackathon. Somos uma organização sem fins lucrativos e disposta a ajudar pessoas a compartilharem informações sobre os locais que frequentam, assim como ajudar os estabelecimentos brasileiros a melhorarem seu atendimento e cuidado aos indivíduos de todas as idades, etnias, gêneros e opções sexuais.</p>
      <p>Você possui alguma dúvida sobre nosso projeto? Por favor, entre em contato conosco. Nosso maior interesse é ajudar pessoas a se sentirem bem, encontrando ambientes onde se sintam seguras e bem atendidas.</p>
    </div>
  </div>
</div>
