<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 padding-bottom text-justify">
  <div class="padding-bottom">
    <h1 class="size-h1 text-center padding-bottom">FAQ (Perguntas Frequentes)</h1>
    <div class="row">
      <h4><strong class="hold-link-title-help"><a name="link1">O que é o Não Me Calo?</a></strong></h4>
      <p>O Não Me Calo é um website onde pessoas podem avaliar estabelecimentos comerciais com base na forma em que foram tratadas enquanto frequentavam o local. Nosso interesse é mapear os lugares que melhor atendem pessoas dos mais diversos grupos oprimidos, por isso possibilitamos aos usuários que deem uma nota para os grupos em que se encaixam.</p>
      <h4><strong class="hold-link-title-help"><a name="link1">Quem faz parte do Não Me Calo?</a></strong></h4>
      <p>Somos um grupo de quatro mulheres jovens, da cidade de Porto Alegre. Nós não somos uma organização com fins lucrativos. Fazemos esse trabalho de forma voluntária, sendo um serviço que fazemos à sociedade e as pessoas dos mais diversos grupos oprimidos.</p>
      <h4><strong class="hold-link-title-help"><a name="link1">Como faço para ajudar o Não Me Calo?</a></strong></h4>
      <p>Toda a ajuda é bem vinda para mantermos esse projeto no ar. Atualmente, arcamos com todos os custos de desenvolvimento e manutenção do site. Se você quiser ajudar com um trabalho voluntário, parceria ou alguma quantia em dinheiro, envie um email para contato@naomecalo.org.</p>
      <h4><strong class="hold-link-title-help"><a name="link1">Como funcionam as avaliações dos estabelecimentos?</a></strong></h4>
      <p>Para avaliar um estabelecimento, você precisa busca-lo pelo seu nome, selecioná-lo e então preencher o formulário de cadastro de relato. Nesse formulário, você informa qual grupo oprimido você está se referindo (você pode avaliar por uma experiência própria ou por algo que você presenciou). Você pode avaliar o local sobre como foi o atendimento dele em uma das cinco opções: Deve Melhorar, Pode Melhorar, Regular, Bom e Ótimo. </p>
      <h4><strong class="hold-link-title-help"><a name="link1">Existe moderação nos relatos?</a></strong></h4>
      <p>Sim. Todos os relatos passam por um filtro prévio que exclui palavrões e nomes próprios. Após isso, os relatos passam por uma revisão manual, isso é, a nossa equipe lê todos os relatos antes que estes vão para o ar.</p>
      <h4><strong class="hold-link-title-help"><a name="link1">Porque o site solicita meu CPF?</a></strong></h4>
      <p>Precisamos guardar o CPF de quem realiza o relato por uma definição do Marco Civil da Internet. Por lei, temos obrigação de guardar esse dado por seis meses.</p>
      <h4><strong class="hold-link-title-help"><a name="link1">Os estabelecimentos avaliados saberão quem registrou os relatos?</a></strong></h4>
      <p>Não. Seus dados estão seguros conosco. Damos aos estabelecimento um espaço para responder o relato e melhorar seus serviços, mas não divulgaremos seu nome ou qualquer um dos dados preenchidos durante o formulário de relato. </p>
      <h4><strong class="hold-link-title-help"><a name="link1">Os estabelecimentos avaliados saberão quem registrou os relatos?</a></strong></h4>
      <p>Converse com a gente. O Não Me Calo não tem intuito de manchar a imagem de nenhum estabelecimento comercial, apenas de promover os espaços mais seguros.  Se o seu estabelecimento possui um relato que você deseja rever ou responder, entre em contato conosco que possibilitaremos uma forma de resposta dentro da própria plataforma. </p>
    </div>
  </div>
</div>
