<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <div class="padding-bottom">
    <h1 class="size-h1 text-center padding-bottom">TERMOS DE USO E POLÍTICA DE PRIVACIDADE ATRELADOS À PLATAFORMA NÃO ME CALO</h1>
    <p>Seja bem-vinda(o)s ao NÃO ME CALO!</p>
    <p>Neste documento você conseguirá entender melhor as funcionalidades, propósitos e condições de utilização deste serviço e por fim nosso compromisso com sua privacidade.</p>
    <p> Recomendamos que você leia atentamente este documento, e, mesmo que não seja obrigatório, sugerimos que visite periodicamente esta seção para manter-se informado acerca de qualquer mudança nos serviços. </p>
    <p>O NÃO ME CALO! é uma plataforma colaborativa e social voltada ao mapeamento de lugares e estabelecimentos em sua cidade. Para saber mais sobre o projeto, sugerimos que leia a aba “Quem somos” no site.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">1. Quem é o proprietário deste Site?</a></strong></h4>
    <p>O NÃO ME CALO! não é vinculado, endossado ou patrocinado de qualquer forma por nenhuma empresa ou entidade social estabelecida como tal. Como dito, é um projeto colaborativo e social, contudo entendemos que você queira entrar em contato com as pessoas que capitaneiam o NÃO ME CALO!, sendo assim, indicamos que sempre que quiser efetuar este contato o faça através dos endereços e/ou telefones fixados na aba “Contatos” do site.</p>
    <p>O NÃO ME CALO! é regulado por este documento, suas convicções e visões de mundo, pelas leis brasileiras e internacionais que sejam pertinentes.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">2. Quem pode utilizar este Site?</a></strong></h4>
    <p>Em princípio qualquer pessoa física que esteja interessada em utilizar o site pode fazê-lo desde que dentro da sua finalidade, considerando que o intuito deste website é mapear as áreas onde pessoas, dos mais diversos grupos sociais, se sentiram seguras ou inseguras</p>
    <h4><strong class="hold-link-title-help"><a name="link1">3. Que Serviços o NÃO ME CALO oferece?</a></strong></h4>
    <p>Somos um espaço de compartilhamento de informações, relatos de experiências boas e ruins, além de um ranking dos lugares de acordo com a visão que as pessoas possuem dele. De certo modo nossos serviços baseiam-se em dar voz as pessoas que se sentiram bem ou mal, seguras ou não, em determinados lugares.</p>
    <p style="color:red"><b><u>Nosso serviço é feito de forma séria e anônima para você, ou seja, ninguém, nem mesmo nós, saberemos quem você é você, contudo isso acontecerá de forma a obedecer determinações legais como o Marco Civil da Internet, conforme explicaremos neste documento.</p></b></u>
    <p style="color:red"><b><u>Nosso website não tem como intuito substituir o papel da polícia ou dos demais órgãos responsáveis por acolher denúncias de crimes. Sugerimos fortemente que todas as vítimas de crimes façam uma denúncia oficial nos órgãos responsáveis.</b></u></p>
    <p> Também, nos preocupamos com a imagem de estabelecimentos que possam ser alvo de ataques desleais de pessoas ou outros estabelecimentos que fujam do objetivo do site, sendo assim, para manter a reputação desses estabelecimentos o mais limpa possível, nós criamos e utilizamos regras que excluem o relato e avaliação seja ela qual for quando esta completa 6 (seis) meses. Dessa forma temos certeza que, se o local melhorou ou piorou seu atendimento, ele estará no site, com as informações mais atualizadas possíveis.</p>
    <p><b>Aos usuários donos de estabelecimentos, esperamos sempre que vocês melhorem em todos os aspectos, porém, caso por qualquer motivo você ou seu estabelecimento tenha sido citado em algum conteúdo postado por usuários, você pode vir falar direto conosco utilizando um dos contatos da aba “Contato” do site. Nosso intuito aqui é ajudá-lo a melhorar, se for o caso, ou ajudar-nos a entender o caso concreto do ocorrido e assim fazermos uma sociedade melhor e mais segura.</p></b>
    <h4><strong class="hold-link-title-help"><a name="link1">4. A quem pertencem os conteúdos disponíveis no site?</a></strong></h4>
    <p>Chamamos de CONTEÚDO, as imagens, marcas, textos e quaisquer outros itens, gráficos ou não, do site.</p>
    <p>Todo e qualquer CONTEÚDO do site pertence única e exclusivamente ao NÃO ME CALO!, que detém, direta ou indiretamente, todos os direitos autorais e direitos reservados necessários sobre o mesmo.</p>
    <p>Contudo, será considerado também como conteúdo as suas interações no site, sendo assim, desde já, você declara ciência e concordância que estes conteúdos serão de sua inteira e exclusiva responsabilidade, ficando ao NÃO ME CALO!, livremente, a ingerência em manter ou retirar tais conteúdos conforme sua escolha técnica e pessoal.</p>
    <p>É estritamente proibido o uso do conteúdo por quaisquer terceiros, exceto como previsto nestes Termos, sem a permissão por escrito do NÃO ME CALO!</p>
    <p>NÃO ME CALO! informa que tomará medidas enérgicas para garantir seus direitos de propriedade intelectual e industrial na extensão máxima permitida pela legislação aplicável, nacional e/ou estrangeira, inclusive por meio de processo criminal.</p>
    <p>Nenhum conteúdo será utilizado pelo NÃO ME CALO! para fins de publicidade ou promoção em marketing.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">5. O que você NÃO pode fazer com e neste site?</a></strong></h4>
    <p>NÃO ME CALO! apenas dispõe a você utilizar este site para o serviço disponibilizado no mesmo, ficando expressamente proibido as seguintes ações por sua parte enquanto usuário:</p>
    <p>a)	Declarar ou representar falsamente sua afiliação a qualquer pessoa ou eventual entidade associado ao NÃO ME CALO! ou declarar ou fazer crer que o NÃO ME CALO! endossa as declarações feitas por você;</p>
    <p>b)	Usar o site para publicidade ou qualquer outra solicitação comercial sem a expressa autorização do NÃO ME CALO!;</p>
    <p>c)	Usar o site para publicar ou transmitir vírus, worm, Cavalo de Tróia, easter egg, time bomb, spyware ou outro código, arquivo ou programa de computador que seja prejudicial ou invasivo ou cuja intenção seja danificar ou tomar controle da operação ou monitorar o uso de qualquer hardware, software ou equipamento, seja de quem for;</p>
    <p>d)	Usar o site para violar quaisquer direitos legais de terceiros, para obter ou coletar informações de identificação pessoal dos usuários do NÃO ME CALO!;</p>
    <p>e)	Interferir ou interromper na operação do site ou dos servidores, ou de violar quaisquer requisitos, procedimentos, políticas ou regulamentações de quaisquer redes que sirvam para dar suporte ao site;</p>
    <p>f)	Utilizar de perfis fakes (falsos) para publicar falsas ocorrências com intuito de obter vantagem ou desmerecer quaisquer terceiros, arcando com as consequências administrativas e legais cabíveis;</p>
    <p>g)	Modificar, adaptar, converter ou reverter a engenharia, descompilar ou desmontar qualquer parte do site, seja em seu front-end ou em seu back-end;</p>
    <p>h)	Utilizar qualquer forma que possa ser considerada fraudulenta para obter vantagens para si ou para outrem bem como para subtrair direitos no site, cabendo ao NÃO ME CALO!, a seu exclusivo critério, em caso de suspeita de fraude na utilização deste site por parte de quaisquer usuários, a decisão de interromper e/ou excluir a utilização dos Serviços disponíveis no site para este(s) usuário(s).</p>
    <p>Ainda, em relação ao conteúdo, deverão obedecer os seguintes critérios:</p>
    <p>i) evitar que conste práticas e escritas perigosas que de qualquer forma incite a violência, ou sejam preconceituosas, pornográficas, desrespeitosas, discriminatórias, injuriosas, caluniosas, difamatórias, que incitem o uso abusivo de drogas e álcool, principalmente contra menores de idade, idosos e animais. </p>
    <p>O conteúdo enviado por você que contenha nome de pessoas ou dados pessoais dessas pessoas poderão, a exclusivo critério do NÃO ME CALO! ser excluídos.</p>
    <p>O não atendimento ou descumprimento de quaisquer disposições inseridas neste documento acarretará na interrupção dos Serviços e exclusão imediata de quem lhe der causa e/ou for beneficiado, direta ou indiretamente, de tal conduta.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">6. Demais responsabilidades.</a></strong></h4>
    <p>Você, ao utilizar o NÃO ME CALO! concorda com o previsto nestes TERMOS pelo fato de sua livre iniciativa de utilizar e acessar este site.</p>
    <p>Você é responsável por todos os seus atos praticados na utilização do NÃO ME CALO! e, sendo assim, não poderá alegar desconhecimento desse documento bem como de quaisquer leis que porventura tenha infringido.</p>
    <p>Fica desde já estabelecido que o NÃO ME CALO! se exime, sendo dos usuários, na medida do cabível, de qualquer responsabilidade quanto à:</p>
    <p>I.	quaisquer prejuízos causados por gravação realizada pelos usuários (download) para os seus equipamentos próprios, de quaisquer arquivos eletrônicos existentes ou disponibilizados no site, por quem quer que seja;</p>
    <p>II.	quaisquer prejuízos advindos pela utilização indevida e/ou dolosa por terceiros de quaisquer dados pessoais;</p>
    <p>III.	quaisquer prejuízos decorrentes da utilização indevida de dados dos USUÁRIOS por terceiros;</p>
    <p>IV.	por atos de má-fé de terceiros que invadam o site, tais como hackers e/ou crackers, acessem os dados pessoais fornecidos dos USUÁRIOS e se utilizem ilicitamente dos mesmos para quaisquer fins. NÃO ME CALO! declara ter os cuidados razoáveis para evitar a invasão do sistema referente ao site, mas não se responsabiliza e não pode se responsabilizar, pela inviolabilidade do mesmo.</p>
    <p>V.	pela inadimplência de USUÁRIOS às normas da lei ou do presente instrumento, que gere prejuízos a terceiros e/ou a outros USUÁRIOS.</p>
    <p>VI.	O site é NÃO ME CALO!, sendo assim, nós não nos responsabilizamos por quaisquer acessos à outros sites, aplicativos, domínios, Fan Pages, etc., mesmo que tais se apresentem com as mesmas características e/ou aleguem ser o original. Nossos contatos oficiais em redes sociais são:</p>
    <p>facebook.com/naomecalosite</p>
    <p>twitter.com/naomecalosite</p>
    <p>VII. 	Não somos responsáveis pelos equipamentos e recursos necessários para acessar o site, tais como aparelhos celulares de quaisquer espécies, computadores, softwares, custos com transmissão de dados e seus planos, redes wi-fi, redes 2G (E), 3G, 4G e demais redes de navegação via mobile que existam ou venham existir, e tudo que se fizer necessário, sendo estes às expensas e exclusiva responsabilidades dos USUÁRIOS.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">7. Mais sobre a coleta de informações pessoais</a></strong></h4>
    <p>Para finalidade deste documento, as informações pessoais as quais nos referimos, são aquelas que possam identificar as pessoas a quem pertencem.</p>
    <p>Assumimos o compromisso do anonimato do usuário e assim pretendemos oferecer nossos serviços, no entanto, caso por força de lei ou decisão judicial irrecorrível sejamos obrigados a liberar qualquer informação ou dados considerados pessoais, assim o faremos.</p>
    <p>Também poderemos fazer o dito no parágrafo anterior caso se torne estritamente necessário para empreender defesa administrativa ou judicial bem como consideremos necessário para evitar perigo iminente.</p>
    <p>Para uma melhor experiência no site e para que ele atinja seu objetivo social maior, afirmamos que dentro daquilo que nos cabe, tomamos as precauções possíveis para manter as suas informações pessoais protegidas e anônimas. Todas as informações pessoalmente identificáveis estão sujeitas a medidas de segurança para impedir acesso, uso ou divulgação não-autorizados.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">8. Como termina a relação estabelecida neste site entre nós e você?</a></strong></h4>
    <p>Estes Termos de Uso continuarão a ser aplicáveis enquanto o site estiver disponível.</p>
    <p>Se você quiser encerrar a relação existente conosco em virtude destes TERMOS, pode fazê-lo simplesmente deixando de acessar o site e utilizá-lo.</p>
    <p>Podemos, a qualquer momento, encerrar a relação existente com você decorrente destes TERMOS nas seguintes hipóteses:</p>
    <p>a)	Se você tiver violado qualquer cláusula destes Termos de Uso ou agir de forma que claramente mostre ou evidencie que não pretende ou não pode cumprir as cláusulas estabelecidas aqui;</p>
    <p>b)	Se tal for exigido a nós por lei ou decisão judicial; </p>
    <p>c)	Se por nossa iniciativa encerrarmos o site total ou parcialmente, sem necessidade de notificação ou justificação, a qualquer tempo;</p>
    <p>d)	por nossa decisão unilateral em excluir o USUÁRIO, principalmente se este violar o disposto na seção 5 destes Termos, não necessitando justificar ou revelar sua motivação para tanto.</p>
    <p>Quando estes Termos de Uso forem encerrados, todos os direitos, obrigações e responsabilidades de que o USUÁRIO tenha assumido e acumulado enquanto da vigência dos TERMOS, ou que expressamente deva continuar em vigor não serão afetados por essa resolução e continuarão a ser aplicáveis indefinidamente.</p>
    <p>No caso de término da oferta do site total ou parcialmente, não estamos obrigadas a manter, fornecer, devolver ou ressarcir, qualquer espécie de conteúdo, dados ou informações repassadas por você.</p>
    <p>Em todos os casos previstos nesta seção, seja por rescisão motivada ou imotivada de qualquer das partes, por expulsão do USUÁRIO do site ou pelo encerramento das atividades deste, as informações, imagens, textos, arquivos, atividades, interações ou informações do site, poderão ser perdidos em sua totalidade, não cabendo ao USUÁRIO qualquer espécie de indenização ou compensação, nem recuperação.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">9. Mudanças em nossos Termos de Uso.</a></strong></h4>
    <p>Queremos que você entenda que este documento é importante para que você tenha plena satisfação ao usar nossos Serviços.</p>
    <p>Assim, NÃO ME CALO!, reservando-se o direito de alterar ou remover estes Termos de Uso a seu critério e sem prévio aviso, <b>recomenda veementemente</b> que você visite esta área periodicamente para manter-se informado sobre quaisquer alterações, que serão publicadas aqui.</p>
    <p>Na medida do possível informaremos, através de nossas páginas nas redes sociais ou no próprio site, quaisquer alterações nestes documentos, mas, como dito acima, o controle acerca do conhecimento sobre tais alterações é de <b>responsabilidade exclusiva</b> do usuário.</p>
    <h4><strong class="hold-link-title-help"><a name="link1">10. Fale conosco.</a></strong></h4>
    <p>Como dissemos no início, entendemos que a leitura deste documento, apesar de tentarmos sempre ser o mais claro e direto possível, pode deixar algumas dúvidas, questões em geral e até mesmo sugestões para serem compartilhadas por você para nós.</p>
    <p>Assim, se você quiser nos contatar para fazer comentários ou esclarecer dúvidas sobre este documento, por favor entre em contato conosco através da aba, no próprio site, “Contato”.</p>
    </div>
</div>
