@import "_variables.scss";

.footer-desktop{
  background-color: #737373;
  margin-top: 100px;
  height: 140px;
  bottom: 0;
  width: 100%;
  &-container{
    color:white;
}

  &-align{
    text-align: center;
  }

  &-share img{
    height: 25px;
    margin: 5px 2px;
  }
}

.marginTopTitle{
  margin-top: 23px;
}

.marginTopShare{
  margin-top: 25px;
}

#container {
    display: flex;                   /* establish flex container */
    flex-direction: row;             /* default value; can be omitted */
    flex-wrap: nowrap;               /* default value; can be omitted */
    justify-content: space-between;  /* switched from default (flex-start, see below) */
}

.a-without-underline-footer{
  text-decoration: none !important;
  color: white !important;
}

.align-footer-left{
    margin-left: 97px;
    color: white;
}

.align-footer-center{
  margin-left: -2%;
  margin-top: 40px;
  color: white;
  font-weight: bold;
}

.align-footer-right{
  margin-top: 127px;
}

.list-style{
  padding-top: 4px;
  margin-bottom: 0px !important;
}

.facebook-icon{
  margin-left: 72px !important;
}

.contactus{
  margin-top: 120px;
  color: white;
}

.share{
  margin-left: 31%;
  margin-top: 10px;
}

.div-menu-footer{
    margin-top: -28px;
    margin-left: 8px;
    color: white;
}

.share-buttons{
  margin-top: 10px
}

.our-facebook{
    margin-top: 12px;
    margin-left: 22px;
}
