@import "_variables.scss";

.search {
  margin-bottom: 60px;


  &-label{
    text-align: center;
    font-style: italic;
    padding: 35px 43px;
  }

  &-input{
    padding: 0px 50px;
  }

  &-inputButton{
    border-color: $textColor;
    background-color: inherit;
    color: $textColor;
    width: 100px;
    &:hover{
      color: #525252;
    }
  }

  &-Ranking{
    margin: 1% 32% 1% 30%;
    border-radius: 2%;
    &-input{
      margin-left: 52px;
      margin-top: 3px;
      margin-right: -21px;
    }
  }
}

.paragraph-ranking{
  padding-left: 28px;
}

@media only screen and (max-device-width: 480px) {
  .search {
    margin-bottom: 60px;


    &-label{
      text-align: center;
      font-style: italic;
      padding: 35px 43px;
    }

    &-input{
      padding: 0px 50px;
    }

    &-inputButton{
      border-color: $textColor;
      background-color: inherit;
      color: $textColor;
      width: 100px;
      &:hover{
        color: #525252;
      }
    }

    &-Ranking{
      margin: 1% 6% 1% 3%;
      border-radius: 2%;
      &-input{
        margin-left: 16px;
        margin-top: 0px;
        margin-right: -25px;
      }
    }
  }
}
