/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require jquery-ui
*= require_tree .
*= require_self
*/
@import "_variables.scss";

* {
  margin: 0;
}

body, html {
  height: 84%
}

li{
  list-style-type: none;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.push{
  height: 4em;
}

.align-rating {
  margin-left: 14px;
}

.padding-bottom{
  padding-bottom: 20px !important;
  &-ranking{
    padding-bottom: 12px !important;
  }
}


.center-element{
  margin:0 auto;
  display:table;
}

.btn-danger{
  background-color: $thirdColor !important;
  border-color: $textColor !important;
}

.btn-success{
  background-color: $brandColor !important;
  border-color: $textColor !important;
}

.text-area {
  resize: none;
}

.red-text{
  color: red;
}

.check-box-contact{
  position: relative !important;
  top: 3px !important;
}

.small-square-share-button{
  width: $small-square-size;
  height: $small-square-size;
}

.large-square-share-button{
  width: $large-square-size;
  height: $large-square-size;
}

#buttons-enhance{
  margin: 0 0 1% 92%;
}

.a-without-underline{
  text-decoration: none !important;
}

.span-obrigatory{
  margin-left: 26% !important;
  margin-top: -19px;
}

.margin-top-label-ranking{
  margin-top: -8px;
}

@media only screen and (max-device-width: 480px){
  .span-obrigatory{
    display: block;
  }

  .margin-top-label-ranking-show{
    margin-top: -12px
  }
}
