<div align="center" class="h3 nothing-found">
  Não encontramos relatos nessa cidade. Que tal nos ajudar registrando um relato? Clique <a href="/">aqui</a> para pesquisar um local e deixar seu registo.
</div>
