<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

<div class="search-Ranking">
  <div align="center" class="size-h1 title-ranking">
    Ranking
  </div>
  <div align="center" class="row paragraph h5 padding-bottom-ranking">
    Sua opinião ajudou a identificar os melhores e piores lugares para grupos oprimidos.
  </div>
  <form action="#" id="rankingForm" method="get">
    <div class="input-group search-Ranking-input">
      <input type="text" class="form-control search-fields" aria-label="Campo para filtro por região" placeholder="Busque uma cidade/Estado" id="searchRanking" autofocus="">
      <span class="input-group-btn">
        <button type="submit" class="btn search-inputButton get" id="search-btn">
          <span>Filtrar</span>
        </button>
      </span>
    </div>
  </form>
</div>

<div class="filter text-center">
  <div class="row order-space text-center">
    Ordenar ranking por:
  </div>
  <div class="ranking-buttons text-center">
    <a name="ranking" id='bestPlacesButtonRanking' class='a-without-underline'><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Melhores</a>
    <span> / </span>
    <a id='worstPlacesButtonRanking' class='a-without-underline'>Piores <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></a>
    </div>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
    <div id="rankingListAll">

    </div>

    <div align="center">
      <a class="show-more-button" id="showMoreRanking">Ver mais estabelecimentos</a>
    </div>

    <div id="share-buttons" align="center" class="row order-space text-center">
      <span class="share-text text-bold">Clique nos botões abaixo para compartilhar este ranking!</span>
      <br>
      <div class="floated" id="share">

      </div>
    </div>
  </div>
